*
{
    list-style-type: none;    
}

a
{
    color: #FFFFFF;
}

body
{
    background-color: #7CBCFC;
}

header, footer section#information
{
    background-color: #3B6EA5;    
}

header
{
    color: #FFFFFF;
}

footer
{
    color: #000000;
}

section#content
{
    background-color: #FFFFFF;
    color: #000000;
}

section#content a
{
    color: 000000;
}

footer section#license
{
    color: #000000;
}